In [47]:
import pandas as pd
import numpy as np
import requests
import json

# Base URL
HOST = "https://api.census.gov/data"
year_2018 = "2018"
year_2017 = "2017"
year_2016 = "2016"
year_2015 = "2015"
year_2014 = "2014"
dataset = "acs/acs5/profile"
base_url_2018 ="/".join([HOST, year_2018, dataset])
base_url_2017 ="/".join([HOST, year_2017, dataset])
base_url_2016 ="/".join([HOST, year_2016, dataset])
base_url_2015 ="/".join([HOST, year_2015, dataset])
base_url_2014 ="/".join([HOST, year_2014, dataset])


# Census Variables and predicates
get_vars = ["DP05_0010E", "DP05_0011E", "DP05_0012E", "DP05_0013E", "DP05_0014E", "DP05_0015E", "DP05_0016E", "DP05_0017E", "DP02_0059E", "DP02_0060E", "DP02_0061E", "DP02_0062E", "DP02_0063E", "DP02_0064E", "DP02_0065E"]
zip_tabulation = "zip code tabulation area:" #to pull all Zip Codes, use wildcard '*'. Example:...'area:*'
bexar_zip_codes = "78002,78006,78009,78015,78023,78039,78052,78056,78063,78064,78065,78066,78069,78073,78101,78108,78109,78112,78114,78121,78124,78148,78150,78152,78154,78155,78163,78201,78202,78203,78204,78205,78207,78208,78209,78210,78211,78212,78213,78214,78215,78216,78217,78218,78219,78220,78221,78222,78223,78224,78225,78226,78227,78228,78229,78230,78231,78232,78233,78234,78235,78236,78237,78238,78239,78240,78242,78244,78245,78247,78248,78249,78250,78251,78252,78253,78254,78255,78256,78257,78258,78259,78260,78261,78263,78264,78266"
predicates = {}
predicates["get"] = ",".join(get_vars)
predicates["for"] = zip_tabulation + bexar_zip_codes


# Execute the request
Data_2018 = requests.get(base_url_2018, params=predicates)
Data_2017 = requests.get(base_url_2017, params=predicates)
Data_2016 = requests.get(base_url_2016, params=predicates)
Data_2015 = requests.get(base_url_2015, params=predicates)
Data_2014 = requests.get(base_url_2014, params=predicates)

#Education data represents only the population that is 25 years old and over(25-80plus). Ages 24 and under can be used to confirm total population.



# Define column names
col_names = ["Age_25_34", "Age_35_44", "Age_45_54", "Age_55_59", "Age_60_64", "Age_65_74", "Age_75_84", "Age_85_Plus", "Less_than_9th_Grade", "_9th_to_12th_Grade", "High_School_Education", "Some_College", "Associate_Degree", "Bachelor_Degree", "Graduate_or_Professional", "ZIP"]

#Combine column names and their respective column data into a dataframe, and store into a varibale.
Bexar_Education_2018_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2018.json()[1:])
Bexar_Education_2017_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2017.json()[1:])
Bexar_Education_2016_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2016.json()[1:])
Bexar_Education_2015_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2015.json()[1:])
Bexar_Education_2014_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2014.json()[1:])

#Transform data into integers for each years dataframe. However, the column 'Age_85_Plus', has been recorded as a float for years 2014-2016,
#and must be brought in as a float. Once these few columns are brought in as floats, they can then be converted to integers also.

#2018 transformation to integer
Bexar_Education_2018_preprocess_2 = Bexar_Education_2018_preprocess_1.astype(int)


#2017 transformation to integer
Bexar_Education_2017_preprocess_2 = Bexar_Education_2017_preprocess_1.astype(int)


#2016 transformation to float, becasue of Age_85_Plus column
Bexar_Education_2016_preprocess_2 = Bexar_Education_2016_preprocess_1.astype(float)

#2015 transformation to float, becuase of Age_85_Plus column
Bexar_Education_2015_preprocess_2 = Bexar_Education_2015_preprocess_1.astype(float)

#2014 transformation to float, becasue of Age_85_Plus column
Bexar_Education_2014_preprocess_2 = Bexar_Education_2014_preprocess_1.astype(float)



#2018 transformation, drop row containing Zip Code 78150, which represents an Air Force base. Data for this Zip is insufficient.
Bexar_Education_2018 = Bexar_Education_2018_preprocess_2.drop([70], axis = 0)

#2017 transform, drop row for Zip 78150.
Bexar_Education_2017 = Bexar_Education_2017_preprocess_2.drop([22], axis = 0)

#2016 transformation all columns from floats to integers with 'astype()' method. Then drop row for zip 78150. #an axis set to 0 chooses rows, axis set to 1 chooses columns
Bexar_Education_2016_preprocess_3 = Bexar_Education_2016_preprocess_2.astype(int)
Bexar_Education_2016 = Bexar_Education_2016_preprocess_3.drop([22], axis = 0)

#2015 transformation, same process as above
Bexar_Education_2015_preprocess_3 = Bexar_Education_2015_preprocess_2.astype(int)
Bexar_Education_2015 = Bexar_Education_2015_preprocess_3.drop([46], axis = 0) 

#2014 transformation, same process as above
Bexar_Education_2014_preprocess_3 = Bexar_Education_2014_preprocess_2.astype(int)
Bexar_Education_2014 = Bexar_Education_2014_preprocess_3.drop([22], axis = 0)

 


#The following line allows an entire DataFrame to be printed. Caution with larger datasets.
#pd.set_option('display.max_rows', Bexar_Education_2018.shape[0]+1)
print(Bexar_Education_2018)

    Age_25_34  Age_35_44  Age_45_54  Age_55_59  Age_60_64  Age_65_74  \
0        1811       1699       1955        942        599        974
1        6405       5280       6252       3519       2643       4661
2         957       1014        775        424        329        618
3        1445       1626       2321        960       1131       1769
4        8246       6879       5995       3514       2214       3613
..        ...        ...        ...        ...        ...        ...
82       5186       5043       5642       3116       2691       3630
83        664       1288       1989        807       1039       1096
84        208        124        158        147        124        135
85        839        612        503        393        274        368
86       8461       5486       4561       2643       2251       2690

    Age_75_84  Age_85_Plus  Less_than_9th_Grade  _9th_to_12th_Grade  \
0         464          252                  249                 480
1        2683         1159                 2208                3035
2         331          215                  741                 631
3         523          200                   52                  64
4        2069          798                 7652                7930
..        ...          ...                  ...                 ...
82       2713         1201                  775                 988
83        494          216                  242                 214
84        127           47                   60                  63
85        152           94                  602                 616
86       1332          700                  954                2176

    High_School_Education  Some_College  Associate_Degree  Bachelor_Degree  \
0                    2549          2021               760             1905
1                   12524          6705              1972             4345
2                    1729           972               333              209
3                    1054          2400               444             3331
4                   10002          4632              1166             1426
..                    ...           ...               ...              ...
82                   3461          5246              1422             9912
83                   1893          1686               617             1964
84                    177           261                56              174
85                    986           613               187              148
86                   6924          6154              2175             6364

    Graduate_or_Professional    ZIP
0                        732  78121
1                       1813  78155
2                         48  78002
3                       2630  78248
4                        520  78207
..                       ...    ...
82                      7418  78209
83                       977  78163
84                       279  78205
85                        83  78208
86                      3377  78216

[86 rows x 16 columns]

In [48]:
#Creation of new columns.

#Total population by zip. Represents total population by residency.
Bexar_Education_2018['Total_Zip_Population'] = Bexar_Education_2018.Age_25_34 + Bexar_Education_2018.Age_35_44 + Bexar_Education_2018.Age_45_54 + Bexar_Education_2018.Age_55_59 + Bexar_Education_2018.Age_60_64 + Bexar_Education_2018.Age_65_74 + Bexar_Education_2018.Age_75_84 + Bexar_Education_2018.Age_85_Plus

Bexar_Education_2017['Total_Zip_Population'] = Bexar_Education_2017.Age_25_34 + Bexar_Education_2017.Age_35_44 + Bexar_Education_2017.Age_45_54 + Bexar_Education_2017.Age_55_59 + Bexar_Education_2017.Age_60_64 + Bexar_Education_2017.Age_65_74 + Bexar_Education_2017.Age_75_84 + Bexar_Education_2017.Age_85_Plus

Bexar_Education_2016['Total_Zip_Population'] = Bexar_Education_2016.Age_25_34 + Bexar_Education_2016.Age_35_44 + Bexar_Education_2016.Age_45_54 + Bexar_Education_2016.Age_55_59 + Bexar_Education_2016.Age_60_64 + Bexar_Education_2016.Age_65_74 + Bexar_Education_2016.Age_75_84 + Bexar_Education_2016.Age_85_Plus

Bexar_Education_2015['Total_Zip_Population'] = Bexar_Education_2015.Age_25_34 + Bexar_Education_2015.Age_35_44 + Bexar_Education_2015.Age_45_54 + Bexar_Education_2015.Age_55_59 + Bexar_Education_2015.Age_60_64 + Bexar_Education_2015.Age_65_74 + Bexar_Education_2015.Age_75_84 + Bexar_Education_2015.Age_85_Plus

Bexar_Education_2014['Total_Zip_Population'] = Bexar_Education_2014.Age_25_34 + Bexar_Education_2014.Age_35_44 + Bexar_Education_2014.Age_45_54 + Bexar_Education_2014.Age_55_59 + Bexar_Education_2014.Age_60_64 + Bexar_Education_2014.Age_65_74 + Bexar_Education_2014.Age_75_84 + Bexar_Education_2014.Age_85_Plus

# Condense the following variables into a new column: 'Less_than_9th_Grade', '_9th_to_12th_Grade', 'High_School_Education'.

Bexar_Education_2018['High_School_and_less'] = Bexar_Education_2018.Less_than_9th_Grade + Bexar_Education_2018._9th_to_12th_Grade + Bexar_Education_2018.High_School_Education

Bexar_Education_2017['High_School_and_less'] = Bexar_Education_2017.Less_than_9th_Grade + Bexar_Education_2017._9th_to_12th_Grade + Bexar_Education_2017.High_School_Education

Bexar_Education_2016['High_School_and_less'] = Bexar_Education_2016.Less_than_9th_Grade + Bexar_Education_2016._9th_to_12th_Grade + Bexar_Education_2016.High_School_Education

Bexar_Education_2015['High_School_and_less'] = Bexar_Education_2015.Less_than_9th_Grade + Bexar_Education_2015._9th_to_12th_Grade + Bexar_Education_2015.High_School_Education

Bexar_Education_2014['High_School_and_less'] = Bexar_Education_2014.Less_than_9th_Grade + Bexar_Education_2014._9th_to_12th_Grade + Bexar_Education_2014.High_School_Education

# Condense the following variables into a new column: 'Some_College', 'Associate_Degree'.

Bexar_Education_2018['Associates_and_Some_College'] = Bexar_Education_2018.Associate_Degree + Bexar_Education_2018.Some_College

Bexar_Education_2017['Associates_and_Some_College'] = Bexar_Education_2017.Associate_Degree + Bexar_Education_2017.Some_College

Bexar_Education_2016['Associates_and_Some_College'] = Bexar_Education_2016.Associate_Degree + Bexar_Education_2016.Some_College

Bexar_Education_2015['Associates_and_Some_College'] = Bexar_Education_2015.Associate_Degree + Bexar_Education_2015.Some_College

Bexar_Education_2014['Associates_and_Some_College'] = Bexar_Education_2014.Associate_Degree + Bexar_Education_2014.Some_College


print(Bexar_Education_2018)
#print(Bexar_Education_2017)
#print(Bexar_Education_2016)
#print(Bexar_Education_2015)
#print(Bexar_Education_2014)

    Age_25_34  Age_35_44  Age_45_54  Age_55_59  Age_60_64  Age_65_74  \
0        1811       1699       1955        942        599        974
1        6405       5280       6252       3519       2643       4661
2         957       1014        775        424        329        618
3        1445       1626       2321        960       1131       1769
4        8246       6879       5995       3514       2214       3613
..        ...        ...        ...        ...        ...        ...
82       5186       5043       5642       3116       2691       3630
83        664       1288       1989        807       1039       1096
84        208        124        158        147        124        135
85        839        612        503        393        274        368
86       8461       5486       4561       2643       2251       2690

    Age_75_84  Age_85_Plus  Less_than_9th_Grade  _9th_to_12th_Grade  \
0         464          252                  249                 480
1        2683         1159                 2208                3035
2         331          215                  741                 631
3         523          200                   52                  64
4        2069          798                 7652                7930
..        ...          ...                  ...                 ...
82       2713         1201                  775                 988
83        494          216                  242                 214
84        127           47                   60                  63
85        152           94                  602                 616
86       1332          700                  954                2176

    High_School_Education  Some_College  Associate_Degree  Bachelor_Degree  \
0                    2549          2021               760             1905
1                   12524          6705              1972             4345
2                    1729           972               333              209
3                    1054          2400               444             3331
4                   10002          4632              1166             1426
..                    ...           ...               ...              ...
82                   3461          5246              1422             9912
83                   1893          1686               617             1964
84                    177           261                56              174
85                    986           613               187              148
86                   6924          6154              2175             6364

    Graduate_or_Professional    ZIP  Total_Zip_Population  \
0                        732  78121                  8696
1                       1813  78155                 32602
2                         48  78002                  4663
3                       2630  78248                  9975
4                        520  78207                 33328
..                       ...    ...                   ...
82                      7418  78209                 29222
83                       977  78163                  7593
84                       279  78205                  1070
85                        83  78208                  3235
86                      3377  78216                 28124

    High_School_and_less  Associates_and_Some_College
0                   3278                         2781
1                  17767                         8677
2                   3101                         1305
3                   1170                         2844
4                  25584                         5798
..                   ...                          ...
82                  5224                         6668
83                  2349                         2303
84                   300                          317
85                  2204                          800
86                 10054                         8329

[86 rows x 19 columns]

In [49]:
#Transform data to replace all 0 integers with nan.

Bexar_Education_2018_Final = Bexar_Education_2018.replace(0, np.nan)

Bexar_Education_2017_Final = Bexar_Education_2017.replace(0, np.nan)

Bexar_Education_2016_Final = Bexar_Education_2016.replace(0, np.nan)

Bexar_Education_2015_Final = Bexar_Education_2015.replace(0, np.nan)

Bexar_Education_2014_Final = Bexar_Education_2014.replace(0, np.nan)

print(Bexar_Education_2018_Final)
#print(Bexar_Education_2017_Final)
#print(Bexar_Education_2016_Final)
#print(Bexar_Education_2015_Final)
#print(Bexar_Education_2014_Final)

    Age_25_34  Age_35_44  Age_45_54  Age_55_59  Age_60_64  Age_65_74  \
0        1811       1699     1955.0        942      599.0      974.0
1        6405       5280     6252.0       3519     2643.0     4661.0
2         957       1014      775.0        424      329.0      618.0
3        1445       1626     2321.0        960     1131.0     1769.0
4        8246       6879     5995.0       3514     2214.0     3613.0
..        ...        ...        ...        ...        ...        ...
82       5186       5043     5642.0       3116     2691.0     3630.0
83        664       1288     1989.0        807     1039.0     1096.0
84        208        124      158.0        147      124.0      135.0
85        839        612      503.0        393      274.0      368.0
86       8461       5486     4561.0       2643     2251.0     2690.0

    Age_75_84  Age_85_Plus  Less_than_9th_Grade  _9th_to_12th_Grade  \
0       464.0        252.0                249.0               480.0
1      2683.0       1159.0               2208.0              3035.0
2       331.0        215.0                741.0               631.0
3       523.0        200.0                 52.0                64.0
4      2069.0        798.0               7652.0              7930.0
..        ...          ...                  ...                 ...
82     2713.0       1201.0                775.0               988.0
83      494.0        216.0                242.0               214.0
84      127.0         47.0                 60.0                63.0
85      152.0         94.0                602.0               616.0
86     1332.0        700.0                954.0              2176.0

    High_School_Education  Some_College  Associate_Degree  Bachelor_Degree  \
0                    2549          2021               760             1905
1                   12524          6705              1972             4345
2                    1729           972               333              209
3                    1054          2400               444             3331
4                   10002          4632              1166             1426
..                    ...           ...               ...              ...
82                   3461          5246              1422             9912
83                   1893          1686               617             1964
84                    177           261                56              174
85                    986           613               187              148
86                   6924          6154              2175             6364

    Graduate_or_Professional    ZIP  Total_Zip_Population  \
0                        732  78121                  8696
1                       1813  78155                 32602
2                         48  78002                  4663
3                       2630  78248                  9975
4                        520  78207                 33328
..                       ...    ...                   ...
82                      7418  78209                 29222
83                       977  78163                  7593
84                       279  78205                  1070
85                        83  78208                  3235
86                      3377  78216                 28124

    High_School_and_less  Associates_and_Some_College
0                   3278                         2781
1                  17767                         8677
2                   3101                         1305
3                   1170                         2844
4                  25584                         5798
..                   ...                          ...
82                  5224                         6668
83                  2349                         2303
84                   300                          317
85                  2204                          800
86                 10054                         8329

[86 rows x 19 columns]

In [50]:
#Store total county population 25 & Older in variable by aggregating all zip code populations.
Total_Population_2018 = sum(Bexar_Education_2018_Final["Total_Zip_Population"])

#2018 Total County Population 25 & Older
print(Total_Population_2018)

1410831

In [51]:
#Grabs the sum of each column
Column_Sum_Copy = Bexar_Education_2018_Final[['Age_25_34','Age_35_44','Age_45_54','Age_55_59','Age_60_64','Age_65_74','Age_75_84','Age_85_Plus','Less_than_9th_Grade','_9th_to_12th_Grade','High_School_Education','Bachelor_Degree','Graduate_or_Professional','Total_Zip_Population', 'High_School_and_less', 'Associates_and_Some_College']].sum()

# Column Totals
Column_Sum = pd.DataFrame(Column_Sum_Copy)
print(Column_Sum)

                                     0
Age_25_34                     337618.0
Age_35_44                     293666.0
Age_45_54                     274423.0
Age_55_59                     128737.0
Age_60_64                     110175.0
Age_65_74                     158222.0
Age_75_84                      77159.0
Age_85_Plus                    30831.0
Less_than_9th_Grade           101258.0
_9th_to_12th_Grade            117493.0
High_School_Education         364080.0
Bachelor_Degree               249467.0
Graduate_or_Professional      141922.0
Total_Zip_Population         1410831.0
High_School_and_less          582831.0
Associates_and_Some_College   436611.0

In [52]:
#Find the educational attainment level percentages, based on the total education population of the Bexar County.
Education_Percentages = Column_Sum[11:16] / Total_Population_2018 * 100

#Results for 2018
print(Education_Percentages)

                                      0
Bachelor_Degree               17.682274
Graduate_or_Professional      10.059461
Total_Zip_Population         100.000000
High_School_and_less          41.311185
Associates_and_Some_College   30.947080

In [57]:
#Use the following code to write education DataFrames to excel file onto your local system.

#with pd.ExcelWriter(r'/Users/Name/Desktop/Bexar_Education/Bexar_Education.xlsx') as writer:  
#    Bexar_Education_2018_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2018')
#    Bexar_Education_2017_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2017')
#    Bexar_Education_2016_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2016')
#    Bexar_Education_2015_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2015')
#    Bexar_Education_2014_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2014')

To see a data geographical visualization of educational attainment levels of Bexar County by zip code, go to
the following Tableau Public link: 

https://public.tableau.com/views/BexarEducationAttainment/BexarEducation2018?:language=en&:display_count=y&publish=yes&:origin=viz_share_link