In [11]:
import pandas as pd
import numpy as np
import requests
import json

# Base URL
HOST = "https://api.census.gov/data"
year_2018 = "2018"
year_2017 = "2017"
year_2016 = "2016"
year_2015 = "2015"
year_2014 = "2014"
dataset = "acs/acs5/profile"
base_url_2018 ="/".join([HOST, year_2018, dataset])
base_url_2017 ="/".join([HOST, year_2017, dataset])
base_url_2016 ="/".join([HOST, year_2016, dataset])
base_url_2015 ="/".join([HOST, year_2015, dataset])
base_url_2014 ="/".join([HOST, year_2014, dataset])


# Census Variables and predicates
get_vars = ["DP05_0005E", "DP05_0006E", "DP05_0007E", "DP05_0008E", "DP05_0009E", "DP05_0010E", "DP05_0011E", "DP05_0012E", "DP05_0013E", "DP05_0014E", "DP05_0015E", "DP05_0016E", "DP05_0017E", "DP02_0059E", "DP02_0060E", "DP02_0061E", "DP02_0064E", "DP02_0065E"]
zip_tabulation = "zip code tabulation area:" #to pull all Zip Codes, use wildcard '*'. Example:...'area:*'
bexar_zip_codes = "78002,78006,78009,78015,78023,78039,78052,78056,78063,78064,78065,78066,78069,78073,78101,78108,78109,78112,78114,78121,78124,78148,78150,78152,78154,78155,78163,78201,78202,78203,78204,78205,78207,78208,78209,78210,78211,78212,78213,78214,78215,78216,78217,78218,78219,78220,78221,78222,78223,78224,78225,78226,78227,78228,78229,78230,78231,78232,78233,78234,78235,78236,78237,78238,78239,78240,78242,78244,78245,78247,78248,78249,78250,78251,78252,78253,78254,78255,78256,78257,78258,78259,78260,78261,78263,78264,78266"
predicates = {}
predicates["get"] = ",".join(get_vars)
predicates["for"] = zip_tabulation + bexar_zip_codes


# Execute the request
Data_2018 = requests.get(base_url_2018, params=predicates)
Data_2017 = requests.get(base_url_2017, params=predicates)
Data_2016 = requests.get(base_url_2016, params=predicates)
Data_2015 = requests.get(base_url_2015, params=predicates)
Data_2014 = requests.get(base_url_2014, params=predicates)

#Education data represents only the population that is 25 years old and over(25-80plus). Ages 24 and under can be used to confirm total population.



# Define column names
col_names = ["Age_Under_5", "Age_6_9", "Age_10_14", "Age_15_19", "Age_20_24", "Age_25_34", "Age_35_44", "Age_45_54", "Age_55_59", "Age_60_64", "Age_65_74", "Age_75_84", "Age_85_Plus", "Less_9th_High_School_Education", "Less_High_School_Education", "High_School_Education", "Bachelor_Education", "Graduate_or_Professional", "ZIP"]

#Combine column names and their respective column data into a dataframe, and store into a varibale.
Bexar_Education_2018_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2018.json()[1:])
Bexar_Education_2017_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2017.json()[1:])
Bexar_Education_2016_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2016.json()[1:])
Bexar_Education_2015_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2015.json()[1:])
Bexar_Education_2014_preprocess_1 = pd.DataFrame(columns=col_names, data=Data_2014.json()[1:])

#Transform data into integers for each years dataframe. However, the column 'Age_85_Plus', has been recorded as a float for years 2014-2016,
#and must be brought in as a float. Once these few columns are brought in as floats, they can then be converted to integers also.

#2018 transformation to integer
Bexar_Education_2018_preprocess_2 = Bexar_Education_2018_preprocess_1.astype(int)


#2017 transformation to integer
Bexar_Education_2017_preprocess_2 = Bexar_Education_2017_preprocess_1.astype(int)


#2016 transformation to float, becasue of Age_85_Plus column
Bexar_Education_2016_preprocess_2 = Bexar_Education_2016_preprocess_1.astype(float)

#2015 transformation to float, becuase of Age_85_Plus column
Bexar_Education_2015_preprocess_2 = Bexar_Education_2015_preprocess_1.astype(float)

#2014 transformation to float, becasue of Age_85_Plus column
Bexar_Education_2014_preprocess_2 = Bexar_Education_2014_preprocess_1.astype(float)



#2018 transformation, drop row containing Zip Code 78150, which represents an Air Force base. Data for this Zip is insufficient.
Bexar_Education_2018 = Bexar_Education_2018_preprocess_2.drop([70], axis = 0)

#2017 transform, drop row for Zip 78150.
Bexar_Education_2017 = Bexar_Education_2017_preprocess_2.drop([22], axis = 0)

#2016 transformation all columns from floats to integers with 'astype()' method. Then drop row for zip 78150. #an axis set to 0 chooses rows, axis set to 1 chooses columns
Bexar_Education_2016_preprocess_3 = Bexar_Education_2016_preprocess_2.astype(int)
Bexar_Education_2016 = Bexar_Education_2016_preprocess_3.drop([22], axis = 0)

#2015 transformation, same process as above
Bexar_Education_2015_preprocess_3 = Bexar_Education_2015_preprocess_2.astype(int)
Bexar_Education_2015 = Bexar_Education_2015_preprocess_3.drop([46], axis = 0) 

#2014 transformation, same process as above
Bexar_Education_2014_preprocess_3 = Bexar_Education_2014_preprocess_2.astype(int)
Bexar_Education_2014 = Bexar_Education_2014_preprocess_3.drop([22], axis = 0)

 


#The following line allows an entire DataFrame to be printed. Caution with larger datasets.
#pd.set_option('display.max_rows', Bexar_Education_2018.shape[0]+1)
print(Bexar_Education_2018)

    Age_Under_5  Age_6_9  Age_10_14  Age_15_19  Age_20_24  Age_25_34  \
0           932      735       1073        884        758       1811
1          2928     3480       2869       3370       3614       6405
2           552      595        491        648        380        957
3           692      908        860       1111        823       1445
4          4719     4277       4729       3730       3818       8246
..          ...      ...        ...        ...        ...        ...
82         2563     2062       2722       2839       2637       5186
83          262      698       1257        920        376        664
84            9        0         52         21         72        208
85          365      463        377        290        301        839
86         3018     2844       1916       2045       3818       8461

    Age_35_44  Age_45_54  Age_55_59  Age_60_64  Age_65_74  Age_75_84  \
0        1699       1955        942        599        974        464
1        5280       6252       3519       2643       4661       2683
2        1014        775        424        329        618        331
3        1626       2321        960       1131       1769        523
4        6879       5995       3514       2214       3613       2069
..        ...        ...        ...        ...        ...        ...
82       5043       5642       3116       2691       3630       2713
83       1288       1989        807       1039       1096        494
84        124        158        147        124        135        127
85        612        503        393        274        368        152
86       5486       4561       2643       2251       2690       1332

    Age_85_Plus  Less_9th_High_School_Education  Less_High_School_Education  \
0           252                             249                         480
1          1159                            2208                        3035
2           215                             741                         631
3           200                              52                          64
4           798                            7652                        7930
..          ...                             ...                         ...
82         1201                             775                         988
83          216                             242                         214
84           47                              60                          63
85           94                             602                         616
86          700                             954                        2176

    High_School_Education  Bachelor_Education  Graduate_or_Professional    ZIP
0                    2549                1905                       732  78121
1                   12524                4345                      1813  78155
2                    1729                 209                        48  78002
3                    1054                3331                      2630  78248
4                   10002                1426                       520  78207
..                    ...                 ...                       ...    ...
82                   3461                9912                      7418  78209
83                   1893                1964                       977  78163
84                    177                 174                       279  78205
85                    986                 148                        83  78208
86                   6924                6364                      3377  78216

[86 rows x 19 columns]

In [12]:
#Creation of 2 new columns that will allow us to aggregate the total population of a zip code.

#Total population by zip. Represents total population by residency.
Bexar_Education_2018['Total_Zip_Population'] = Bexar_Education_2018.Age_25_34 + Bexar_Education_2018.Age_35_44 + Bexar_Education_2018.Age_45_54 + Bexar_Education_2018.Age_55_59 + Bexar_Education_2018.Age_60_64 + Bexar_Education_2018.Age_65_74 + Bexar_Education_2018.Age_75_84 + Bexar_Education_2018.Age_85_Plus

Bexar_Education_2017['Total_Zip_Population'] = Bexar_Education_2017.Age_25_34 + Bexar_Education_2017.Age_35_44 + Bexar_Education_2017.Age_45_54 + Bexar_Education_2017.Age_55_59 + Bexar_Education_2017.Age_60_64 + Bexar_Education_2017.Age_65_74 + Bexar_Education_2017.Age_75_84 + Bexar_Education_2017.Age_85_Plus

Bexar_Education_2016['Total_Zip_Population'] = Bexar_Education_2016.Age_25_34 + Bexar_Education_2016.Age_35_44 + Bexar_Education_2016.Age_45_54 + Bexar_Education_2016.Age_55_59 + Bexar_Education_2016.Age_60_64 + Bexar_Education_2016.Age_65_74 + Bexar_Education_2016.Age_75_84 + Bexar_Education_2016.Age_85_Plus

Bexar_Education_2015['Total_Zip_Population'] = Bexar_Education_2015.Age_25_34 + Bexar_Education_2015.Age_35_44 + Bexar_Education_2015.Age_45_54 + Bexar_Education_2015.Age_55_59 + Bexar_Education_2015.Age_60_64 + Bexar_Education_2015.Age_65_74 + Bexar_Education_2015.Age_75_84 + Bexar_Education_2015.Age_85_Plus

Bexar_Education_2014['Total_Zip_Population'] = Bexar_Education_2014.Age_25_34 + Bexar_Education_2014.Age_35_44 + Bexar_Education_2014.Age_45_54 + Bexar_Education_2014.Age_55_59 + Bexar_Education_2014.Age_60_64 + Bexar_Education_2014.Age_65_74 + Bexar_Education_2014.Age_75_84 + Bexar_Education_2014.Age_85_Plus

#Total population by zip, only of those who reported their education attainment. NOT total population by residency.

Bexar_Education_2018['Education_Zip_Population'] = Bexar_Education_2018.Less_9th_High_School_Education + Bexar_Education_2018.Less_High_School_Education + Bexar_Education_2018.High_School_Education + Bexar_Education_2018.Bachelor_Education + Bexar_Education_2018.Graduate_or_Professional

Bexar_Education_2017['Education_Zip_Population'] = Bexar_Education_2017.Less_9th_High_School_Education + Bexar_Education_2017.Less_High_School_Education + Bexar_Education_2017.High_School_Education + Bexar_Education_2017.Bachelor_Education + Bexar_Education_2017.Graduate_or_Professional

Bexar_Education_2016['Education_Zip_Population'] = Bexar_Education_2016.Less_9th_High_School_Education + Bexar_Education_2016.Less_High_School_Education + Bexar_Education_2016.High_School_Education + Bexar_Education_2016.Bachelor_Education + Bexar_Education_2016.Graduate_or_Professional

Bexar_Education_2015['Education_Zip_Population'] = Bexar_Education_2015.Less_9th_High_School_Education + Bexar_Education_2015.Less_High_School_Education + Bexar_Education_2015.High_School_Education + Bexar_Education_2015.Bachelor_Education + Bexar_Education_2015.Graduate_or_Professional

Bexar_Education_2014['Education_Zip_Population'] = Bexar_Education_2014.Less_9th_High_School_Education + Bexar_Education_2014.Less_High_School_Education + Bexar_Education_2014.High_School_Education + Bexar_Education_2014.Bachelor_Education + Bexar_Education_2014.Graduate_or_Professional

print(Bexar_Education_2018)
#print(Bexar_Education_2017)
#print(Bexar_Education_2016)
#print(Bexar_Education_2015)
#print(Bexar_Education_2014)

    Age_Under_5  Age_6_9  Age_10_14  Age_15_19  Age_20_24  Age_25_34  \
0           932      735       1073        884        758       1811
1          2928     3480       2869       3370       3614       6405
2           552      595        491        648        380        957
3           692      908        860       1111        823       1445
4          4719     4277       4729       3730       3818       8246
..          ...      ...        ...        ...        ...        ...
82         2563     2062       2722       2839       2637       5186
83          262      698       1257        920        376        664
84            9        0         52         21         72        208
85          365      463        377        290        301        839
86         3018     2844       1916       2045       3818       8461

    Age_35_44  Age_45_54  Age_55_59  Age_60_64  ...  Age_75_84  Age_85_Plus  \
0        1699       1955        942        599  ...        464          252
1        5280       6252       3519       2643  ...       2683         1159
2        1014        775        424        329  ...        331          215
3        1626       2321        960       1131  ...        523          200
4        6879       5995       3514       2214  ...       2069          798
..        ...        ...        ...        ...  ...        ...          ...
82       5043       5642       3116       2691  ...       2713         1201
83       1288       1989        807       1039  ...        494          216
84        124        158        147        124  ...        127           47
85        612        503        393        274  ...        152           94
86       5486       4561       2643       2251  ...       1332          700

    Less_9th_High_School_Education  Less_High_School_Education  \
0                              249                         480
1                             2208                        3035
2                              741                         631
3                               52                          64
4                             7652                        7930
..                             ...                         ...
82                             775                         988
83                             242                         214
84                              60                          63
85                             602                         616
86                             954                        2176

    High_School_Education  Bachelor_Education  Graduate_or_Professional  \
0                    2549                1905                       732
1                   12524                4345                      1813
2                    1729                 209                        48
3                    1054                3331                      2630
4                   10002                1426                       520
..                    ...                 ...                       ...
82                   3461                9912                      7418
83                   1893                1964                       977
84                    177                 174                       279
85                    986                 148                        83
86                   6924                6364                      3377

      ZIP  Total_Zip_Population  Education_Zip_Population
0   78121                  8696                      5915
1   78155                 32602                     23925
2   78002                  4663                      3358
3   78248                  9975                      7131
4   78207                 33328                     27530
..    ...                   ...                       ...
82  78209                 29222                     22554
83  78163                  7593                      5290
84  78205                  1070                       753
85  78208                  3235                      2435
86  78216                 28124                     19795

[86 rows x 21 columns]

In [25]:
#Transform data to replace all 0 integers with nan.

Bexar_Education_2018_Final = Bexar_Education_2018.replace(0, np.nan)

Bexar_Education_2017_Final = Bexar_Education_2017.replace(0, np.nan)

Bexar_Education_2016_Final = Bexar_Education_2016.replace(0, np.nan)

Bexar_Education_2015_Final = Bexar_Education_2015.replace(0, np.nan)

Bexar_Education_2014_Final = Bexar_Education_2014.replace(0, np.nan)

print(Bexar_Education_2018_Final)
#print(Bexar_Education_2017_Final)
#print(Bexar_Education_2016_Final)
#print(Bexar_Education_2015_Final)
#print(Bexar_Education_2014_Final)

    Age_Under_5  Age_6_9  Age_10_14  Age_15_19  Age_20_24  Age_25_34  \
0           932    735.0     1073.0      884.0        758       1811
1          2928   3480.0     2869.0     3370.0       3614       6405
2           552    595.0      491.0      648.0        380        957
3           692    908.0      860.0     1111.0        823       1445
4          4719   4277.0     4729.0     3730.0       3818       8246
..          ...      ...        ...        ...        ...        ...
82         2563   2062.0     2722.0     2839.0       2637       5186
83          262    698.0     1257.0      920.0        376        664
84            9      NaN       52.0       21.0         72        208
85          365    463.0      377.0      290.0        301        839
86         3018   2844.0     1916.0     2045.0       3818       8461

    Age_35_44  Age_45_54  Age_55_59  Age_60_64  ...  Age_75_84  Age_85_Plus  \
0        1699     1955.0        942      599.0  ...      464.0        252.0
1        5280     6252.0       3519     2643.0  ...     2683.0       1159.0
2        1014      775.0        424      329.0  ...      331.0        215.0
3        1626     2321.0        960     1131.0  ...      523.0        200.0
4        6879     5995.0       3514     2214.0  ...     2069.0        798.0
..        ...        ...        ...        ...  ...        ...          ...
82       5043     5642.0       3116     2691.0  ...     2713.0       1201.0
83       1288     1989.0        807     1039.0  ...      494.0        216.0
84        124      158.0        147      124.0  ...      127.0         47.0
85        612      503.0        393      274.0  ...      152.0         94.0
86       5486     4561.0       2643     2251.0  ...     1332.0        700.0

    Less_9th_High_School_Education  Less_High_School_Education  \
0                            249.0                       480.0
1                           2208.0                      3035.0
2                            741.0                       631.0
3                             52.0                        64.0
4                           7652.0                      7930.0
..                             ...                         ...
82                           775.0                       988.0
83                           242.0                       214.0
84                            60.0                        63.0
85                           602.0                       616.0
86                           954.0                      2176.0

    High_School_Education  Bachelor_Education  Graduate_or_Professional  \
0                    2549                1905                       732
1                   12524                4345                      1813
2                    1729                 209                        48
3                    1054                3331                      2630
4                   10002                1426                       520
..                    ...                 ...                       ...
82                   3461                9912                      7418
83                   1893                1964                       977
84                    177                 174                       279
85                    986                 148                        83
86                   6924                6364                      3377

      ZIP  Total_Zip_Population  Education_Zip_Population
0   78121                  8696                      5915
1   78155                 32602                     23925
2   78002                  4663                      3358
3   78248                  9975                      7131
4   78207                 33328                     27530
..    ...                   ...                       ...
82  78209                 29222                     22554
83  78163                  7593                      5290
84  78205                  1070                       753
85  78208                  3235                      2435
86  78216                 28124                     19795

[86 rows x 21 columns]

In [23]:
#Store total county population 25 & Older in variable by aggregating all zip code populations.
Total_Population_2018 = sum(Bexar_Education_2018_Final["Total_Zip_Population"])

#2018 Total County Population 25 & Older
print(Total_Population_2018)

1410831

In [24]:
#Total population under 24 years and under in Bexar County. Can be used to confirm Total Population of Bexar, with all age groups.

Total_Under_25_Population = sum(Bexar_Education_2018.Age_Under_5 + Bexar_Education_2018.Age_6_9 + Bexar_Education_2018.Age_10_14 + Bexar_Education_2018.Age_15_19 + Bexar_Education_2018.Age_20_24)
print(Total_Under_25_Population)

796003

In [17]:
#Store Total County Education Population in variable, total number of county population who reported their education level.
Total_Education_Population_2018 = sum(Bexar_Education_2018_Final["Education_Zip_Population"])

#2018 Total Education Population 25 & Older
print(Total_Education_Population_2018)

974220

In [18]:
#Total percentage of county population 25 & Older that reported their education attainment in the education variables in the table above.
print( 100 * Total_Education_Population_2018 / Total_Population_2018)

69.05291987488225

In [19]:
#Grabs the sum of each column
Column_Sum_Copy = Bexar_Education_2018_Final[['Age_25_34','Age_35_44','Age_45_54','Age_55_59','Age_60_64','Age_65_74','Age_75_84','Age_85_Plus','Less_9th_High_School_Education','Less_High_School_Education','High_School_Education','Bachelor_Education','Graduate_or_Professional','Total_Zip_Population','Education_Zip_Population']].sum()

# Column Totals
Column_Sum = pd.DataFrame(Column_Sum_Copy)
print(Column_Sum)

                                        0
Age_25_34                        337618.0
Age_35_44                        293666.0
Age_45_54                        274423.0
Age_55_59                        128737.0
Age_60_64                        110175.0
Age_65_74                        158222.0
Age_75_84                         77159.0
Age_85_Plus                       30831.0
Less_9th_High_School_Education   101258.0
Less_High_School_Education       117493.0
High_School_Education            364080.0
Bachelor_Education               249467.0
Graduate_or_Professional         141922.0
Total_Zip_Population            1410831.0
Education_Zip_Population         974220.0

In [20]:
#Find the educational attainment level percentages, based on the total education population of the Bexar County.
Education_Percentages = Column_Sum[8:13] / Total_Education_Population_2018 * 100

#Results for 2018
print(Education_Percentages)

                                        0
Less_9th_High_School_Education  10.393751
Less_High_School_Education      12.060212
High_School_Education           37.371436
Bachelor_Education              25.606844
Graduate_or_Professional        14.567757

In [10]:
#Use the following code to write education DataFrames to excel file onto your local system.

# with pd.ExcelWriter(r'/Users/Name/Desktop/Bexar_Education/Bexar_Education.xlsx') as writer:  
#     Bexar_Education_2018_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2018')
#     Bexar_Education_2017_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2017')
#     Bexar_Education_2016_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2016')
#     Bexar_Education_2015_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2015')
#     Bexar_Education_2014_Final.to_excel(writer, index = False, header = True, sheet_name='Bexar_Education_2014')